
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=761e0095ea0a0a13e0f31b23a3664822
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress